/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  color: #fff;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  background-color: white;
  background: -webkit-linear-gradient(-45deg, #a06813 0%, #d0b342 48%, #d8bd53 48.001%, white 100%);
  background: -moz-linear-gradient(-45deg, #a06813 0%, #d0b342 48%, #d8bd53 48.001%, white 100%);
  background: -ms-linear-gradient(-45deg, #a06813 0%, #d0b342 48%, #d8bd53 48.001%, white 100%);
  background: -o-linear-gradient(-45deg, #a06813 0%, #d0b342 48%, #d8bd53 48.001%, white 100%);
  background: linear-gradient(135deg, #a06813 0%, #d0b342 48%, #d8bd53 48.001%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#a06813', EndColorStr='white');
}
a {
  color: #fff;
  text-decoration: underline;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgba(165, 165, 165, 0.6);
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 800px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 20px;
}
.center-block h1 {
  font-size: 48pt;
}
.page-contents {
  background-color: rgba(200, 200, 200, 0.7);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #000000;
}
.page-contents a {
  color: #000000;
  text-decoration: underline;
}
.post {
  font-size: large;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(200, 200, 200, 0.7);
  margin-top: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.post a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;
}
.post h1,h2,h3,h4,h5,h6 {
  margin-top: 40px;
  margin-bottom: 20px;
}